# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# dbt
# ==========================
target/
dbt_packages/

# ==========================
# PostgreSQL
# ==========================
*.db

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# Telegram session
*.session
*.session-journal

.venv/